input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: 2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: #fff;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checked]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

footer {
    text-align: center;
    font-size: 1.5em;
}

button {
    font: inherit;
}

.botao {
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f60;
    color: #fff;
    border: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 2px #930;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.botao:active {
    box-shadow: 0 0 0 0 #930, inset 3px 3px 3px #930;
    transform: translate(3px, 3px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: "center";
    justify-content: "center";
}